.scButton_default { font-family: Arial, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; border-color: transparent; border-style: solid; border-width: 1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; padding: 3px 14px; cursor: pointer; background-image: url(../../img/scriptcase__NM__bgButtonBlack.jpg);text-decoration: none;  }
.scButton_disabled { font-family: Arial, sans-serif; font-size: 11px; color: #666666; font-weight: bold; background-color: #323232; border-color: #555555; border-style: solid; border-width: 1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; padding: 3px 14px; cursor: pointer; background-image: none;text-decoration: none;  }
.scButton_small { font-family: Tahoma, Arial, sans-serif; font-size: 8px; color: #000000; font-weight: normal; background-color: #EEEEEE; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 8px; background-image: none;text-decoration: none;  }
.scButton_default:hover, .scButton_small:hover { font-family: Arial, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; border-color: #DDD; border-style: solid; border-width: 1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; cursor: pointer; background-image: url(../../img/scriptcase__NM__bgButtonBlack.jpg);text-decoration: none;  }
.scButton_default:active, .scButton_small:active { font-family: Arial, sans-serif; font-size: 11px; color: #fff; font-weight: bold; background-color: #333; border-color: #ddd; border-style: solid; border-width: 1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; cursor: pointer; background-image: none;text-decoration: none;  }
.scLink_default { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:visited { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:active { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:hover { text-decoration: none; font-size: 12px; color: #0000AA;  }
