.menu {
  font-family: Open Sans,Arial,sans-serif, sans-serif;
  padding: ;
  font-size: 15;
}
.menu__toggle span {
  background: #FFFFFF;
}
.menu__item {
  border-radius: {main_radius_item};
}
.menu__item--active {
  background: ;
}
.menu__item--active .menu__link {
  color: ;
}
.menu__item:hover {
  background: #3F3F3F;
}
.menu__item:hover > .menu__link {
  color: #FFFFFF;
}
.menu__link {
  color: #FFFFFF;
}
.menu__link:before {
  background: ;
}
.menu__link:after {
  border-top: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
}
.menu__icon {
  color: ;
}
.menu__badge {
  background: ;
  color: ;
}
.menu__submenu {
  background: #3F3F3F;
  border-radius: 0;
  border: 1px solid ;
}
.menu__submenu .menu__item:hover {
  background: #2DB2EA;
}
.menu__submenu .menu__item:hover > .menu__link {
  color: #FFFFFF;
}
.menu__submenu .menu__link {
  color: #AAAAAA;
}
@media only screen and (min-width: 577px) {
  .menu--horizontal {
    background: #363636;
    border-bottom:  solid ;
    box-shadow: ;
  }
  .menu--horizontal .menu__submenu {
    box-shadow: ;
  }
  .menu--vertical {
    background: #363636;
    box-shadow: ;
  }
  .menu--vertical .menu__submenu {
    box-shadow: ;
  }
  .menu--mobile {
    font-family: Open Sans,Arial,sans-serif, sans-serif;
    font-size: 15;
    border-bottom: 1px solid transparent;
    padding: 0;
  }
  .menu--mobile:before {
    background: #363636;
    box-shadow: ;
  }
  .menu--mobile:after {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu--mobile .menu__container {
    background: #363636;
  }
  .menu--mobile .menu__item,
  .menu--mobile .menu__item:hover {
    border-bottom: 1px solid ;
  }
  .menu--mobile .menu__item--active,
  .menu--mobile .menu__item:hover--active {
    background: #3F3F3F;
  }
  .menu--mobile .menu__item--active > .menu__link,
  .menu--mobile .menu__item:hover--active > .menu__link {
    color: #FFFFFF;
  }
  .menu--mobile .menu__link,
  .menu--mobile .menu__item:hover .menu__link {
    color: #FFFFFF;
  }
  .menu--mobile .menu__submenu .menu__item:hover {
    background: transparent;
    border-bottom: 0;
  }
  .menu--mobile .menu__submenu .menu__link:before {
    background: #FFFFFF;
  }
  .menu--mobile .menu__item--withsubmenu > .menu__link:after {
    border-left: 4px solid ;
  }
  .menu--nav .menu__container {
    background: #363636;
    box-shadow: ;
  }
}
@media only screen and (max-width: 576px) {
  .menu {
    font-family: Open Sans,Arial,sans-serif, sans-serif;
    font-size: 15;
    border-bottom: 1px solid transparent;
    padding: 0;
  }
  .menu:before {
    background: #363636;
    box-shadow: ;
  }
  .menu:after {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu .menu__container {
    background: #363636;
  }
  .menu .menu__item,
  .menu .menu__item:hover {
    border-bottom: 1px solid ;
  }
  .menu .menu__item--active,
  .menu .menu__item:hover--active {
    background: #3F3F3F;
  }
  .menu .menu__item--active > .menu__link,
  .menu .menu__item:hover--active > .menu__link {
    color: #FFFFFF;
  }
  .menu .menu__link,
  .menu .menu__item:hover .menu__link {
    color: #FFFFFF;
  }
  .menu .menu__submenu .menu__item:hover {
    background: transparent;
    border-bottom: 0;
  }
  .menu .menu__submenu .menu__link:before {
    background: #FFFFFF;
  }
  .menu .menu__item--withsubmenu > .menu__link:after {
    border-left: 4px solid ;
  }
}