.scButton_default { font-family: Verdana, Arial, sans-serif; font-size: 12px; color: #000000; background-color: #D4D0C8; border-color: #FFFFFF #808080 #404040 #FFFFFF; border-style: solid; border-width: 2px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 2px 4px; cursor: pointer; background-image: none;text-decoration: none;  }
.scButton_disabled { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: gray; font-weight: normal; background-color: #EEEEEE; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 8px; cursor: pointer; background-image: none;text-decoration: none;  }
.scButton_small { font-family: Tahoma, Arial, sans-serif; font-size: 8px; color: #000000; font-weight: normal; background-color: #EEEEEE; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 8px; background-image: none;text-decoration: none;  }
.scButton_default:hover, .scButton_small:hover { font-family: Verdana, Arial, sans-serif; font-size: 12px; color: #000000; background-color: #D4D0C8; border-color: #FFFFFF #808080 #404040 #FFFFFF; border-style: solid; border-width: 2px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer; background-image: none;text-decoration: none;  }
.scButton_default:active, .scButton_small:active { font-family: Verdana, Arial, sans-serif; font-size: 12px; color: #000000; background-color: #D4D0C8; border-color: #FFFFFF #808080 #404040 #FFFFFF; border-style: solid; border-width: 2px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer; background-image: none;text-decoration: none;  }
.scLink_default { text-decoration: none; font-size: 11px; color: #000066;  }
.scLink_default:visited { text-decoration: none; font-size: 11px; color: #000066;  }
.scLink_default:active { text-decoration: none; font-size: 11px; color: #000066;  }
.scLink_default:hover { text-decoration: underline; font-size: 11px; color: #000066;  }
