.scButton_default { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: #000000; font-weight: normal; background-color: #EEEEEE; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 8px; background-image: none;text-decoration: none;  }
.scButton_disabled { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: gray; font-weight: normal; background-color: #EEEEEE; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 8px; background-image: none;text-decoration: none;  }
.scButton_small { font-family: Tahoma, Arial, sans-serif; font-size: 8px; color: #000000; font-weight: normal; background-color: #EEEEEE; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 8px; background-image: none;text-decoration: none;  }
.scButton_default:hover, .scButton_small:hover { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: #000000; font-weight: normal; background-color: #F6F6F6; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background-image: none;text-decoration: none;  }
.scButton_default:active, .scButton_small:active { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: #000000; font-weight: normal; background-color: #CCCCCC; border-color: #cdcdcd; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background-image: none;text-decoration: none;  }
.scLink_default { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:visited { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:active { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:hover { text-decoration: none; font-size: 12px; color: #0000AA;  }
