.scTabPage { background-color: #fff; background-image: url(../../img/scriptcase__NM__V6bgGray.png); background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100) }
.scTabTable { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px }
.scTabTableApls { border-color: #acacac; border-style: solid; border-width: 1px; border-collapse: collapse }
.scTabLine { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #acacac; border-style: solid; border-width: 0; width: 100%; margin: 0; padding: 3px 0 0; list-style-type: none }
.scTabHeader { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scTabHeaderFont { color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 0; letter-spacing: 1px; text-decoration: none }
.scTabActive { list-style: none; background-color: #acacac; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 1px 1px 0 1px; border-color: #817F80; border-style: solid; border-collapse: collapse; padding: 4px 15px; margin: 2px 1px 0 1px; height: 18px; min-height: 18; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; display: inline-block; position: static }
.scTabActive a { color: #222222; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; font-style: normal }
.scTabInactive { list-style: none; background-color: #dedede; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-color: #ccc; border-style: solid; border-collapse: collapse; padding: 4px 15px; margin: 2px 1px 0 1px; height: 18px; min-height: 18; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; display: inline-block; position: static }
.scTabInactive a { color: #606060; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; font-style: normal }
.scTabActiveLink, .scTabActiveLink a { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: underline; padding: 2px; margin: 2px; display: inline; cursor: alias }
.scTabInactiveLink, .scTabInactiveLink a { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none; padding: 2px; margin: 2px; display: inline }
.scTabInactiveLink:hover, .scTabInactiveLink:hover a { cursor: pointer; text-decoration: underline }
.scTab_space_wi { width: 1px }
.scTab_space_he { height: 1px }
