.scFormPage { background-color: #305908; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; margin: 20px 0 20px 0; text-decoration: none }
.scFormBorder { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; margin: css_form_moldura_margin; border-color: #f5f5f5; border-style: solid; border-width: 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
.scFormPageText { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormColorPaleteItem { background-size: contain; cursor: pointer; width: 16px; height: 16px; display: inline-block; margin: 0 2px 0 0; border-width: 1px; border-style: solid; border-color: #000 }
.scFormColorPaleteItemChecked { background-image: url(../../img/scriptcase__NM__ico__NM__check_checkbox.png) }
.scFormHeader { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormHeaderFont { color: #4d8913; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormFooter { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormFooterFont { color: #4d8913; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormToolbarNav { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none; padding: 2px 4px 2px 4px }
.scFormToolbarNavOpen { background-color: #4e8913; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; font-weight: bold; text-decoration: none; border-color: #ececec; border-style: solid; border-width: 1px; padding: 2px 4px 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scFormToolbar { background-color: #f9f9f9; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 5px 10px 5px 10px; border-style: none; border-width: 0 }
.scFormToolbarPadding { padding: 5px 10px 5px 10px }
.scFormToolbarInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px; text-decoration: none }
.scFormToolbarInput:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; color: #333333 }
.scFormToolbarInputWm { color: #D4CACA }
.scFormTable { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px }
.scFormTableTd { padding: 0 }
.scFormLabelLink { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: top; }
.scFormLabelOdd { background-color: #ECECEC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #990000; border-width: 0; color: #777777; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px 4px 4px 10px; text-decoration: none; vertical-align: top; }
.scFormLabelOddMult { background-color: #6A6A6A; background-image: url(../../img/scriptcase__NM__V7GreenLabel.png); border-color: #AAA #AAA #777777 #AAA; border-style: solid; border-width: 1px; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px 4px; text-decoration: none; vertical-align: top; }
.scFormLabelOddMult:hover { background-color: #6A6A6A; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #FFFFFF; text-decoration: none; border-color: #AAA #AAA #777777 #AAA; border-style: solid; border-width: 1px }
.scFormLabelOddFormat { color: #777777; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormLabelOddFormatMult { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormRequiredOdd { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddMult { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddColor { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddColorMult { color: #FF0000; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormObjectOdd, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector { background-color: #cccccc; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px; text-decoration: none }
.select2-container--default .select2-selection { background-color: #cccccc; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormObjectOddMult, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector { background-color: #cccccc; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 2px; text-decoration: none }
.scFormObjectOddSpin { font-family: Arial, sans-serif !important; font-size: 12px !important }
.scFormObjectOddMultSpin { font-family: Arial, sans-serif !important; font-size: 12px !important }
.scFormObjectFocusOdd, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector:focus { background-color: #FFFFD9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 2px; text-decoration: none }
.scFormObjectFocusOddMult, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector:focus { background-color: #FFFFD9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 2px; text-decoration: none }
.scFormDataOdd { background-color: #ECECEC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px 4px 4px 10px; text-decoration: none }
.scFormDataOddMult { background-color: #ECECEC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px 1px 1px 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
.scFormDataFontOdd { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormDataFontOddMult { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormLinkOdd { color: #006600; text-decoration: underline }
.scFormLinkOddMult { color: #000000; text-decoration: underline }
.scFormLabelLinkOdd { text-decoration: none }
.scFormLabelLinkOddMult { color: #FFF; text-decoration: none }
.scFormInputError { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFormInputErrorMult { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; border-color: #e0b4b4 }
.scFormInputDisabled, .ui-dropdownchecklist-selector-wrapper > .ui-state-disabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFormInputDisabledMult, .ui-dropdownchecklist-selector-wrapper > .ui-state-disabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.ui-dropdownchecklist-selector-wrapper > .ui-state-disabled > .ui-dropdownchecklist-text { color: #000000 }
.scFormDataDragNDrop { background-color: #E3E3E3; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5D5D5; border-style: dashed; border-width: 1px; color: #333333; font-family: Tahoma, Arial, sans-serif; font-size: 13px; padding: 25px; text-decoration: none; margin: 15px 4px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.scFormMessageTable { background-color: #F9EDBB; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #DCC593; border-style: solid; border-width: 1px; height: 40px; width: 280px }
.scFormMessageTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 3px; text-decoration: none }
.scFormMessageTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormMessageMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 3px; text-decoration: none }
.scFormMessageMessageFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormErrorTable { background-color: #F9EDBB; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #DCC593; border-style: solid; border-width: 1px; height: 30px; width: 320px }
.scFormErrorTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 5px 3px 1px 3px; text-decoration: none; vertical-align: middle }
.scFormErrorTitleFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333; font-family: Arial, sans-serif; font-size: 12px; padding: 1px 3px 5px 3px; text-decoration: none }
.scFormErrorMessageFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFormErrorLine { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px 4px 4px 10px; letter-spacing: 0px; text-decoration: none }
.scFormFieldErrorTable { background-color: #F9EDBB; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #DCC593; border-style: solid; border-width: 1px; -moz-border-radius: css_fielderror_radius; -webkit-border-radius: css_fielderror_radius; border-radius: css_fielderror_radius; position: absolute }
.scFormFieldErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px 2px 4px; text-decoration: none; vertical-align: middle }
.scFormBlock { background-image: url(../../img/scriptcase__NM__V7blocosGreen.png); opacity: 1; filter: alpha(opacity=100); border-color: #d2d2d2; border-style: solid; border-width: 1px; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 1px 1px 1px 6px; text-decoration: none; vertical-align: middle }
.scFormBlockFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormBlockAlign { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormProcess { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormProcessFixed { background-color: #FFF; border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px; height: 26px; padding-top: 13px; position: absolute; text-align: center; width: 350px }
.scFormHelpPage { background-color: #305908; background-image: none; opacity: 0.89; filter: alpha(opacity=89); color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none }
.scFormPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFormPopupCorner { height: 15px; width: 19px }
.scFormPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFormPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFormPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFormPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFormPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFormPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFormPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFormPopupBottom img { display: block; margin: 0 auto }
.scFormPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFormPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scButtonMultiUploadSend { float: left }
.scButtonMultiUploadSend:hover { cursor: pointer }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px }
.sc-cal-categ .sc-cal-categ-input-caret { position: absolute; cursor: default; top: 9px; right: 10px; font-size: 12px; transform: scale(1,0.75) }
.sc-cal-categ { position: relative }
.sc-cal-categ-item .sc-cal-categ-colorbox { width: 17px; height: 17px; float: left; margin-right: 10px }
.sc-cal-categ > .sc-cal-categ-input { box-sizing: border-box; width: 100% !important; display: block !important }
.sc-cal-categ-dropdown { position: absolute; top: 30px !important; left: 0px !important; width: 99% !important }
.scFormACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px }
.scFormACTitle { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: #F0EEEE; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ui-dropdownchecklist-text { color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.ui-dropdownchecklist-selector { background-color: #cccccc; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333333; font-family: Arial, sans-serif; font-size: 12px }
.ui-dropdownchecklist-dropcontainer { background-color: #cccccc; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333333; font-family: Arial, sans-serif; font-size: 12px }
.scBtnPassField { margin: 5px 2px }
#sc_b_summary_b { font-size: 12px }
#sc_b_ini_off_b,#sc_b_ini_off_t,#sc_b_ini_b,#sc_b_ini_t,#sc_b_ret_b,#sc_b_ret_t,#sc_b_ret_off_b,#sc_b_ret_off_t,#sc_b_avc_b,#sc_b_avc_t,#sc_b_avc_off_b,#sc_b_avc_off_t,#sc_b_fim_b,#sc_b_fim_t,#sc_b_fim_off_b,#sc_b_fim_off_t { margin: 0 5px }
.fileinput-button-padding { margin-top: 5px }
.ui-front { z-index: 9999 }
#sc_b_navpage_t,#sc_b_navpage_b { padding: 0 }
.scAjaxDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; text-decoration: none; border-collapse: collapse; border-style: none; padding: 15px 0 0 0 }
.lcs_checkbox_switch { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 29px; height: 15px; border-radius: 30px; cursor: pointer; background-color: #DDDDDD; background-image: none; margin: 5px 7px }
.lcs_checkbox_switch:after { content: "\002714"; display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 5px; font-size: 9px; transition: all .2s; opacity: 0; filter: alpha(opacity=0); color: #FFFFFF }
.lcs_checkbox_switch.lcs_on { background-color: #66afe9; background-image: none }
.lcs_checkbox_switch.lcs_on:after { opacity: 1; filter: alpha(opacity=100) }
.lcs_checkbox_switch .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 1px; z-index: 10; transition: all .2s linear; width: 13px; height: 13px; border-radius: 100%; background-color: #FFFFFF; background-image: none }
.lcs_checkbox_switch.lcs_off .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 1px; z-index: 10; transition: all .2s linear; width: 13px; height: 13px; border-radius: 100%; background-color: #FFFFFF; background-image: none }
.lcs_checkbox_switch.lcs_on .lcs_cursor  { left: calc(100% - 1px); transform: translateX(-100%) }
.lcs_radio_switch { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 12px; height: 12px; border-radius: 100%; border-width: 1px; border-color: #66afe9; border-style: solid; cursor: pointer; background-color: rgba(0,0,0,0); background-image: none; margin: 5px 7px }
.lcs_radio_switch.lcs_off { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 12px; height: 12px; border-radius: 100%; border-width: 1px; border-color: #66afe9; border-style: solid; cursor: pointer; background-color: rgba(0,0,0,0); background-image: none; margin: 5px 7px }
.lcs_radio_switch.lcs_on { background-color: rgba(0,0,0,0); background-image: none }
.lcs_radio_switch .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: -1px; left: -1px; z-index: 10; transition: all .1s linear; transform: scale(0); width: 14px; height: 14px; border-width: 1px; background-color: #66afe9; background-image: none }
.lcs_radio_switch.lcs_off .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: -1px; left: -1px; z-index: 10; transition: all .1s linear; transform: scale(0); width: 14px; height: 14px; border-width: 1px; background-color: #66afe9; background-image: none }
.lcs_radio_switch.lcs_on .lcs_cursor  { transform: scale(1); left: -1px }
.lcs_switch.lcs_on { box-shadow: none }
.lcs_checkbox_switch.lcs_switch.lcs_off { background-color: rgba(178, 178, 178, 0.4); box-shadow: 0px 0px 2px rgba(164, 164, 164, 0.8) inset }
.sc.switch, .sc.radio { margin: 2px 5px 2px 0 }
.sc.switch input, .sc.radio input { position: absolute!important }
.sc.switch span { min-width: 22px }
.sc.radio span { min-width: 12px; min-height: 12px }
.ui-slider-horizontal { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; margin: 10px auto }
.ui-slider-horizontal > .ui-slider-range { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; outline: none }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
