.scContainerPage { background-color: #545353; background-image: url(../../img/sys__NM__img__NM__telkom2.png); opacity: 1; filter: alpha(opacity=100); padding: 1px }
.scContainerHeader { background-color: #292D32; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #65A5EF; border-style: solid; border-width: 0 0 1px 0 }
.scContainerHeaderFont { color: #BBD7F7; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; letter-spacing: 0.5px; text-decoration: none; vertical-align: middle }
.scContainerFooter { background-color: #292D32; background-image: none; background-position: bottom center; opacity: 1; filter: alpha(opacity=100); border-color: #65A5EF; border-style: solid; border-width: 2px 0 0 0 }
.scContainerFooterFont { color: #BBD7F7; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; letter-spacing: 0.5px; text-decoration: none; vertical-align: middle }
.scContainerWidget { background-color: #77787A; background-image: none; background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100); border-color: #65A5EF; border-style: solid; border-width: 2px 2px 2px 2px }
.scContainerMaximized { background-color: #77787A; background-image: none; background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100); border-color: #65A5EF; border-style: solid; border-width: 2px 2px 2px 2px }
.scContainerTitle { color: #98C7FD; font-family: Arial, Helvetica, sans-serif; font-size: 15px; padding: 0; text-decoration: none; float: left; margin: 0; list-style: none; border: none; line-height: 2px }
.widget-head { overflow: hidden; width: 100%; height: 23px; line-height: 23px }
.widget-is-moveable:hover { cursor: move }
.widget-placeholder { border-color: #65A5EF; border-style: solid; border-width: 2px 2px 2px 2px; margin: 1px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px }
.widget-head a.remove { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_buttons.png); background-repeat: no-repeat; background-position: -24px }
.widget-head a.collapse { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_buttons.png); background-repeat: no-repeat; background-position: -52px }
.widget-content-title- { height: calc(100% - 28px) !important }
.widget-content-title-none { height: calc(100% - 5px) !important }
.scContainerIndexMoldura { background-color: #77787A; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABACAC; border-style: dashed; border-width: 1px 0 0 0 }
.scContainerIndexTitle { background-color: #9CA0A5; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #BBD7F7; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scContainerIndexPosText { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #CBE1D3; font-family: Helvetica,Arial,sans-serif; text-decoration: none }
.scContainerIndexPosTextSize { font-size: 48px }
.scContainerIndexNegText { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #CBE1D3; font-family: Helvetica,Arial,sans-serif; text-decoration: none }
.scContainerIndexNegTextSize { font-size: 48px }
.scContainerIndexNeuText { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #BAC7BE; font-family: Helvetica,Arial,sans-serif; text-decoration: none }
.scContainerIndexNeuTextSize { font-size: 48px }
.scContainerIndexPosIcon { color: #3BCB6B }
.scContainerIndexNegIcon { color: #E25454 }
.scContainerIndexNeuIcon { color: #CCCCCC }
.scContainerIndexDimension { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #CBE1D3; font-family: Helvetica,Arial,sans-serif; font-size: 12px; text-decoration: none }
.scContainerIndexMetricPos { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3BCB6B; font-family: Helvetica,Arial,sans-serif; font-size: 12px; text-decoration: none }
.scContainerIndexMetricNeg { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #F09696; font-family: Helvetica,Arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scContainerIndexMetricNeu { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #BAB6B6; font-family: Helvetica,Arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
