.scMenuHHeader { background-color: #292D32; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #65A5EF; border-style: solid; border-width: 0 0 1px 0 }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #BBD7F7; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-shadow: none; font-weight: bold; padding: 0; letter-spacing: 0.5; text-decoration: none; vertical-align: middle }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #BBD7F7; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; padding: 0; letter-spacing: 0.5; text-align: left; text-decoration: none; vertical-align: middle; background-color: #292D32; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #65A5EF; border-style: solid; border-width: 0 0 1px 0 }
.ui-btn-up-a { background-color: #292D32; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-shadow: none; color: #BBD7F7; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #BBD7F7 }
.ui-btn-hover-a { background-color: #292D32; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-shadow: none; color: #BBD7F7; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: #000000; background-color: #292D32 }
