.scAppDivMoldura { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #e0e6ed; border-style: solid; border-width: 0 0 1px 0; padding: 20px !important; margin: 2px 0 0 0 }
#NM_Grid_Search .scAppDivMoldura { padding: 13px 20px !important }
.scAppDivHeader { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 12px 15px }
.scAppDivHeaderText { font-family: Arial, sans-serif; font-size: 13px; color: #3C4858; font-weight: bold; text-decoration: none }
#NM_Grid_Search .scAppDivHeaderText { vertical-align: top }
.SummaryBox > td #sc_id_summary_fields { border-color: #f2f2f2 }
.SummaryBox > td { border-color: #f2f2f2 }
.SummaryBox > td .scAppDivHeader { background-color: #f2f2f2 }
.GroupByOptions > div { border-color: #E0E6ED }
.GroupByOptions > div label span { color: #3C4858 }
.SummaryBox > td .scAppDivHeader:before { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_open.png) }
.SummaryBox > td .scAppDivHeader.open:before { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_opened.png) }
#sc_id_free_groupby > td { padding-top: 10px }
.scAppDivContent { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; padding: 6px 4px; font-size: 13px }
.scAppDivContentText { font-family: Arial, sans-serif; font-size: 13px; color: #8492A6; font-style: css_appdiv_header_text_style; text-decoration: none; vertical-align: top }
.scAppDivToolbar { font-family: Arial, sans-serif; font-size: 13px; color: #3C4858; font-style: normal; text-decoration: none; background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: solid; border-width: 1px 0; padding: 10px 20px }
.scAppDivToolbarInput { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; padding: 0 10px; text-decoration: none; box-sizing: border-box; height: 34px; line-height: 34px }
.scAppDivtoolbarinputfocus:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #000000; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scAppDivToolbarInput label { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #000000; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scAppDivSelectFields { background-color: #fff; background-image: none; border-color: #8492A6; border-style: dashed; border-width: 1px; border-collapse: collapse; padding: 1px 2px }
.scAppDivSelectFieldsEnabled { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 2px 4px !important; margin: 2px !important; text-decoration: none; vertical-align: middle }
.scAppDivSelectFieldsDisabled { background-color: #E8E4E4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #B4B4B4; border-style: solid; border-width: 1px; color: #CBCBCB; font-family: Arial, sans-serif; font-size: 13px; padding: 2px 4px !important; margin: 2px !important; text-decoration: none; vertical-align: middle }
.scAppDivSelectBoxEnabled { background-color: #E9D9A7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5BB34; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 11px; padding: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectBoxDisabled { background-color: #EEEDE3; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8b8a7F; border-style: solid; border-width: 1px; color: #B4B4B4; font-family: Arial, sans-serif; font-size: 11px; padding: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectFieldsPlaceholder { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8492A6; border-style: dashed; border-width: 1px; padding: 6px; margin: 4px }
.scAppDivTabLine { background-color: #f2f2f2; background-image: none; background-position: bottom center; opacity: 1; filter: alpha(opacity=100); border-color: #e0e6ed; border-style: solid; border-width: 0 0 1px 0; width: 100%; margin: 0; padding: 3px 0 0; list-style-type: none }
.scExportEmailTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 10px }
.scExportEmailDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 10px 20px }
.scExportEmailLabel { text-decoration: none }
.scExportEmailLabelSent { text-decoration: none }
.scExportEmailInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ccc; border-style: solid; border-width: 1px; padding: 6px 10px; margin: 4px; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: calc(100% - 22px) }
.scGridFilterTag { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 0 0 1px 0; border-collapse: collapse; padding: 7px 7px 5px 7px; display: flex }
#NM_Grid_Search .scGridFilterTag { padding: 6px 20px !important }
#NM_Grid_Search #id_Fgrid_search { margin: 0 }
.scGridFilterTagIconExp { padding: 0; margin: 0; vertical-align: top }
.scGridFilterTagIconCol { padding: 0; margin: 8px 0 0 0 }
.scGridFilterTagIcon { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; margin: 2px 0; box-sizing: border-box; display: flex }
.scGridFilterTagIcon svg { width: 22px; height: 22px; fill: #009EEB }
.scGridFilterTagList { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 0 10px; flex: 1; box-sizing: border-box }
.scGridFilterTagListItem { background-color: #009EEB; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 5px 5px 5px 12px; margin: 0 0 2px 0; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; display: inline-block }
.scGridFilterTagListItemLabel { color: white; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridFilterTagListItemClose { background-color: white; background-image: none; opacity: 0.5; filter: alpha(opacity=50); margin: 0 0 0 10px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 17px; height: 17px; float: right; cursor: pointer }
.scGridFilterTagListItemClose:after { color: #009EEB; font-weight: bold; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 18px; }
.scGridFilterTagListItemClose:hover { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFilterTagClose { background-color: #C0CCDA; background-image: none; opacity: 0.35; filter: alpha(opacity=35); padding: 0; margin: 0 0 0 10px; box-sizing: border-box; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 28px; height: 28px; float: right; cursor: pointer }
.scGridFilterTagClose:after { color: #1F2D3D; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 28px; }
.scGridFilterTagClose:hover { background-image: none; opacity: 0.6; filter: alpha(opacity=60) }
.scGridFilterTagListFilter { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0; margin: 8px 0 0 0; box-shadow: 0 2px 4px #c3c3c3; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; position: absolute; z-index: 1 }
.scGridFilterTagListFilterLabel { background-color: #009EEB; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 16px 8px 16px 16px; -moz-border-radius: 8px 8px 2px 2px; -webkit-border-radius: 8px 8px 2px 2px; border-radius: 8px 8px 2px 2px; color: white; text-decoration: none }
.scGridFilterTagListFilterLabelClose { background-color: white; background-image: none; opacity: 0.5; filter: alpha(opacity=50); margin: 0 0 0 10px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 17px; height: 17px; float: right; cursor: pointer }
.scGridFilterTagListFilterLabelClose:after { color: #009EEB; font-weight: bold; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 18px; }
.scGridFilterTagListFilterLabelClose:hover { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFilterTagListFilterInputs { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 16px; text-decoration: none }
.scGridFilterTagListFilterBar { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 16px; text-align: right }
.scGridFilterTagAdd { background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 10px 0 0 10px; color: #b0b0b0; text-decoration: none; cursor: pointer; display: inline-block; position: relative; top: 1px }
.scGridFilterTagAddDisabled { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #d2d2d2; text-decoration: none; cursor: default }
#id_Fgrid_search .scGridFilterTagAdd:hover { background-color: #009EEB }
#id_Fgrid_search .scGridFilterTagAddDisabled:hover { background-color: transparent }
#id_Fgrid_search .scGridFilterTagAdd > div { left: 0px; top: 29px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; verflow: hidden }
#id_Fgrid_search .scGridFilterTagAdd > div table { border-collapse: collapse }
#id_Fgrid_search .scGridFilterTagAdd:after { content: '\00d7'; color: #b0b0b0; font-size: 17px; font-weight: bold; display: inline-block; position: absolute; left: 8px; top: 3px; transform: rotate(45deg) }
#id_Fgrid_search .scGridFilterTagAddDisabled:after { color: #d2d2d2 }
#id_grid_search_add_tag { color: black }
.scGridFilterTagSave { background-image: none; opacity: 0.5; filter: alpha(opacity=50); border-width: 0; padding: 0; margin: 6px 0 0 0; box-sizing: border-box; float: right; cursor: alias }
